<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count="4" name=" Parallel Testing Suite" parallel="all">
    <test thread-count="4" name="Parallel Tests" parallel="all">
        <classes>
            <class name="DeactivateUserTest" />
            <class name="EditLocationTest" />
            <class name="NewUserTest" />
            <class name="NewProductTest" />          
        </classes>
    </test>
</suite>
