<suite thread-count="4" name=" Parallel Testing Suite" parallel="classes">
    <test thread-count="4" name="Parallel Tests" parallel="classes">
        <classes>
            <class name="DeactivateUserTest" />
            <class name="EditLocationTest" />
            <class name="NewUserTest" />
            <class name="NewProductTest" />          
        </classes>
    </test>
</suite>
